html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    width: auto;
    height: 250px;
    text-align: center;
}

li{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px;
    padding: 4px;
    width: 200px;
    text-align: center;
}


.container{
    width: 60%;
}

.container-draggable,
.container-droppable{
    width: 240px;
    height: 300px;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    vertical-align: top;
}



.draggable-item{
    background-color: lightskyblue;
}

.accepted-item{
    background-color: #00FFFF;
}

li.ui-draggable-dragging { background-color: #20B2AA; }


