html{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
}

ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    height: 230px;
    text-align: center;
}

li{
    border: 1px solid black;
    border-radius: 5px;
    margin: 1px;
    padding: 4px;
    width: 200px;
    text-align: center;
}

.container{
    width: 780px;
    margin:0 auto;
}

.container-draggable,
.container-droppable{
    width: 32%;
    display: inline-block;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    vertical-align: top;
    overflow-y: auto;
}

.draggable-item{
    background-color: lightskyblue;
}

.draggable-item:hover{
    cursor: move;
}

.accepted-item{
    background-color: #00FFFF;
}

li.ui-draggable-dragging {background-color: #20B2AA;}

.drop-highlight{
    background: #ffff99;
}